@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #2cbcc4;
$tertiary_color: #1a3b66;
$background: #e6e6e6;
$border: #2cbcc4;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* General */

.fancybox-slide--iframe .fancybox-content {
	width: 800px;
	max-width: 80%;
	height: 600px;
	max-height: 80%;
	margin: 0;
}

/* Top */

.top_1 {
	padding: 5px 0;
	background-color: $background;
	.moduletable_to11 {
		font-size: 12px;
		p {
			margin: 0;
		}
		a {
			color: $primary_color;
		}
	}
}

.top {
	background-color: $secondary_color;
	.moduletable_to1 {
		padding: 10px 0;
		background-color: #fff;
	}
	.moduletable_to2 {
		.mega-menu-wrap {
			ul.mega-menu {
				li {
					margin: {
						left: 2px !important;
						right: 2px !important;
					}
					background: {
						image: url(moduletable_to2_li_bg.png) !important;
						position: right !important;
						repeat: no-repeat !important;
					}
					&:last-child {
						background: none !important;
					}
					&.mega-menu-item-14 {
						width: 120px !important;
						a {
							width: 120px !important;
							height: 130px !important;
							margin-top: -50px !important;
							background: {
								color: #fff !important;
								image: url(logo.svg) !important;
								position: center !important;
								repeat: no-repeat !important;
							}
							-webkit-border-bottom-right-radius: 10px !important;
							-webkit-border-bottom-left-radius: 10px !important;
							-moz-border-radius-bottomright: 10px !important;
							-moz-border-radius-bottomleft: 10px !important;
							border-bottom-right-radius: 10px !important;
							border-bottom-left-radius: 10px !important;
							color: transparent !important;
							position: absolute !important;
							z-index: 3;
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin: 0;
		font-size: 24px;
		color: $secondary_color;
	}
	h2 {
		margin: 0;
		font-size: 24px;
	}
	h3 {
		margin: 0;
		font: {
			size: 14px;
			weight: bold;
		}
	}
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
			&.hollow {
				background-color: transparent;
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.paypal_form {
		input {
			border-color: $secondary_color;
		}
		.button {
			background-color: $tertiary_color;
			border-color: $tertiary_color;
			color: $secondary_color;
		}
	}
	&.blog {
		.category_main {
			margin-top: 30px;
			article {
				margin-bottom: 20px;
				padding-bottom: 10px;
				border-bottom: 1px solid $border;
			}
			a.hollow.button {
				background-color: transparent;
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
		.single_main {
			margin-top: 30px;
			.single_thumbnail {
				margin-bottom: 30px;
			}
			.single_content {
				h1 {
					margin-bottom: 30px;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 Home */

.block_1_home {
	padding: 30px 0;
	.moduletable_b11_home {
		h3 {
			margin: 0;
			font-size: 24px;
			color: $secondary_color;
		}
		.latest-post-selection {
			article {
				background-color: #fff;
				a.main-link {
					img {
						width: 100%;
						margin: 0;
						float: none;
					}
					h3 {
						min-height: 115px;
						padding: 10px;
						font: {
							size: 16px;
							weight: bold;
						}
						color: $primary_color;
						text-align: left;
					}
					.read-more {
						padding: 5px 10px;
						border: 1px solid $secondary_color;
						text-align: center;
						float: none;
					}
				}
			}
		}
	}
}

/* Block 2 Home */

.block_2_home {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b21_home {
		h3 {
			margin: 0;
			font-size: 24px;
			color: $secondary_color;
		}
		h4 {
			margin: 0;
			font: {
				size: 14px;
				weight: bold;
			}
		}
		p {
			margin: 0;
		}
		a.hollow.button {
			margin: 0;
			padding: 5px 10px;
			border-color: $secondary_color;
			border-radius: 0;
			color: $secondary_color;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b11 {
		padding: 0 80px;
		color: #fff;
		h3 {
			margin: 0;
			font-size: 24px;
		}
		p {
			margin: 0;
		}
		span {
			color: $secondary_color;
		}
		a.hollow.button {
			border: {
				color: #fff;
				radius: 0;
			}
			color: #fff;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			margin: 0;
			font: {
				size: 24px;
				weight: bold;
			}
			color: $secondary_color;
		}
		img {
			width: 100%;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b31 {
		h3 {
			margin: 0;
			font: {
				size: 24px;
				weight: bold;
			}
			color: $secondary_color;
		}
		#a {
			font-size: 18px;
		}
		#b {
			img {
				width: 100%;
			}
		}
	}
	&.home {
		background-color: #fff;
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		p {
			margin: 0;
		}
		a {
			margin: 0 20px;
			display: inline-block;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $tertiary_color;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $tertiary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			.mega-menu-wrap {
				ul.mega-menu {
					li {
						background: none !important;
						&.mega-menu-item-14 {
							display: none !important;
						}
					}
				}
			}
		}
	}

	/* Content */

	.content {
		h1 {
			font-size: 18px;
		}
	}

	/* Block 1 Home */

	.block_1_home {
		.moduletable_b11_home {
			.latest-post-selection {
				article {
					width: 100%;
					height: inherit;
					padding-bottom: 15px;
					a.main-link {
						h3 {
							min-height: inherit;
						}
					}
				}
			}
		}
	}

	/* Block 2 Home */

	.block_2_home {
		.moduletable_b21_home {
			img {
				width: 100%;
			}
			a.hollow.button {
				margin-bottom: 15px;
			}
		}
	}

	/* Block 1 */

	.block_1 {
		.moduletable_b11 {
			padding: 0;
		}
	}

	/* Bottom */

	.bottom {
		.moduletable_bo1 {
			.panel-grid {
				display: inherit !important;
				.panel-grid-cell {
					width: inherit !important;
					margin-right: 10px !important;
					margin-bottom: 10px !important;
					float: left;
					position: relative;
				}
			}
		}
	}

	/* Copyright */

	.copyright {
		padding-bottom: 80px;
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}